<div id="<%= dom_id board %>">
    <h1>
      <%= board.name %>
    </h1>

    <div class="row">
      <% board.columns.order(position: :asc).each do |column| %>
          <div class="col-md-4">
            <% column.cards.order(position: :asc).each do |card| %>
                <%= render partial: "cards/card", locals: { board: board, column: column, card: card } %>
            <% end %>

            <%= render partial: "cards/new_link", locals: { board: board, column: column } %>
          </div>
      <% end %>
    </div>
</div>
